experiment:
  experiment_name: exp66
  model_name: UNet_ACDC
  seed: 42
  deterministic: true
  device: cuda
train:
  phase: training
  val_ratio: 0.2
  batch_size: 32
  num_slices_per_volume: null
  model:
    in_channels: 1
    out_channels: 4
    features:
    - 64
    - 128
    - 256
    - 512
    - 512
  parameters:
    learning_rate: 0.0009
    num_epochs: 3
    save_interval: 10
    loss_function: ce_dice
  paths:
    train_dir: /mnt/hdd/ttoxopeus/datasets/nnUNet_raw/Dataset200_ACDC/imagesTr
    label_dir: /mnt/hdd/ttoxopeus/datasets/nnUNet_raw/Dataset200_ACDC/labelsTr
    save_root: results
evaluation:
  phase: baseline_evaluation
  batch_size: 1
  num_slices_per_volume: null
  num_visuals: 3
  paths:
    eval_dir: /mnt/hdd/ttoxopeus/datasets/nnUNet_raw/Dataset200_ACDC/imagesTs
    label_dir: /mnt/hdd/ttoxopeus/datasets/nnUNet_raw/Dataset200_ACDC/labelsTs
    save_root: results
pruning:
  method: l1_norm
  threshold: 0.6
  num_slices: 20
  reinitialize_weights: null
  ckpt_path:
    subfolder: baseline
    ckpt_name: final_model.pth
  save_path:
    subfolder: pruned
    filename: pruned_model.pth
  ratios:
    default: 0.25
    block_ratios:
      encoders.0: 0.0
      encoders.1: 0.0
      encoders.2: 0.0
      encoders.3: 0.99
      encoders.4: 0.99
      bottleneck: 0.99
      decoders.1: 0.99
      decoders.3: 0.99
      decoders.5: 0.0
      decoders.7: 0.0
      decoders.9: 0.0
